$color1: #f7ddb6;
$color2: #f7ac6a;
$color3: #ee6f4a;
$color4: #702c2e;
$color5: #83967a;
$color6: #42191b;

@font-face {
  font-family: BerlinSans;
  src: url("../fonts/BerlinSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $color1;
}
::-webkit-scrollbar-thumb {
  background: $color5;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: landing-text 0.3s linear forwards;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    .logo {
      margin: 10px;
      img {
        width: 80px;
      }
    }
    .header-derecha {
      display: flex;
      justify-content: center;
      align-items: center;

      .links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          overflow: hidden;

          position: relative;

          width: 120px;
          height: 40px;
          text-decoration: none;
          color: $color4;
          margin: 0 10px;
          font-weight: 500;

          transition: 0.8s;
        }
        a span {
          position: absolute;
          transform: translateY(-100%);
          width: 120px;
          height: 40px;
          background: $color4;
        }

        a:after {
          content: "";
          position: absolute;
          left: 0;
          width: 2px;
          height: 0;
          background: $color4;
        }
        a:before {
          content: "";
          position: absolute;
          right: 0;
          width: 2px;
          height: 0;
          background: $color4;
        }
        a:hover:after,
        a:hover::before {
          animation: links-header 0.2s linear forwards;
        }
        a:hover span {
          animation: links-header2 0.2s forwards;
          animation-delay: 0.3s;
          z-index: -1;
        }
        a:hover {
          color: white;
        }
      }
      .boton-contacto {
        a {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $color4;
          width: 120px;
          height: 40px;
          border-radius: 2em;
          color: white;
          text-decoration: none;

          transition: 0.5s;
        }
        a:hover {
          background-color: $color3;
        }
      }
      .redes {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin: 0 10px;
          font-size: 2em;
          display: flex;
          justify-content: center;
          align-items: center;

          color: $color4;
          border-radius: 2em;
          text-decoration: none;
          transition: 0.5s;
        }
        a:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.landing-wrapper {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  margin: 0 auto;

  background-color: $color1;

  .texto {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 10px;

    top: 30%;

    z-index: 25;

    animation: landing-text 0.5s linear forwards;

    h1 {
      font-size: 5em;
      font-weight: bold;
      font-family: "BerlinSans", "Montserrat", "sans-serif";
    }
    p {
      font-size: 1.6em;
      letter-spacing: 5px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-decoration: none;
      background-color: #222222;
      border: none;
      border-radius: 30px;
      margin: 10px;
      width: 150px;
      height: 40px;
      color: white;

      font-size: 15px;
    }
  }

  .landing-img-wrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    overflow: hidden;

    margin-bottom: -5px;

    .mont1,
    .mont2,
    .mont3 {
      transform: translateY(-100%);
      position: absolute;
      bottom: 0;
      height: 100%;
      z-index: 10;
      overflow-x: hidden;
      pointer-events: none;

      animation: mont 0.8s linear forwards;
    }
    .mont2 {
      z-index: 20;
      animation-delay: 0.2s;
    }
    .mont3 {
      z-index: 30;
      animation-delay: 0.5s;
      animation-duration: 0.6s;
    }
  }
}
.section1 {
  position: relative;
  z-index: 30;
  background-color: $color4;

  .section-piedras {
    margin-bottom: -5px;
  }
  .section-piedras-reverse {
    transform: scale(-1);
    width: 100%;
    height: 100px;
    margin-top: -5px;
  }

  .section-content {
    padding: 40px 10px;
    background: #42191b;

    h1 {
      color: $color2;
      font-size: 3em;
      margin: 0 35px;
      font-family: "BerlinSans", "Montserrat", "sans-serif";
    }

    hr {
      position: relative;
      border: 1px solid $color2;
      margin: 10px 30px;
      z-index: 10;
    }

    .servicios-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .card {
        overflow: hidden;
        position: relative;
        background-color: #531c1f;
        //box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: .5);

        min-width: 400px;
        width: 30%;
        height: 400px;
        margin: 10px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
        .card-content {
          margin: 0 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          transition: 0.5s;

          i {
            color: $color1;
            font-size: 5em;
          }
          h2 {
            margin: 10px 0;
            color: $color2;
            font-size: 30px;
            text-align: center;
          }
          p {
            color: $color2;
            text-align: center;

            b{
              color: $color1;
              font-weight: normal;
            }
          }
        }

        a {
          position: absolute;
          bottom: 20px;
          display: flex;
          overflow: hidden;

          justify-content: center;
          align-items: center;

          background-color: $color2;
          color: $color4;

          width: 140px;
          height: 45px;
          text-decoration: none;
          font-weight: 600;
          border-radius: 5px;
          margin: 20px 0;

          transform: translateY(300%);

          animation: button-hover-card-reverse 0.5s linear forwards;
          transition: 0.5s;
        }
        a span {
          position: absolute;
          transform: translateY(300%);
          width: 140px;
          height: 45px;
          background: #972b2e;
        }

        a:after {
          content: "";
          position: absolute;
          left: 0;
          width: 2px;
          height: 0;
          background: #972b2e;
        }
        a:before {
          content: "";
          position: absolute;
          right: 0;
          width: 2px;
          height: 0;
          background: #972b2e;
        }
        a:hover:after,
        a:hover::before {
          animation: links-header 0.2s linear forwards;
        }
        a:hover span {
          animation: links-header2 0.2s forwards;
          animation-delay: 0.3s;
          z-index: -1;
        }
        a:hover {
          color: white;
        }
      }
      .card:hover a {
        animation: button-hover-card 0.5s linear forwards;
      }
      .card:hover .card-content {
        margin-top: -60px;
      }
      .card:hover {
        background-color: #5e1d21;
      }
    }
  }
  .sobre-nosotros {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: rgba($color: #f7ac6a, $alpha: 0.4);

    .section-piedras {
      height: 100px;
      width: 100%;
    }

    .sobre-nosotros-img {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      z-index: -1;
      width: 100%;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        position: absolute;
      }
    }

    .section-piedras2 {
      width: 100%;
      height: 100px;
      margin-bottom: -5px;
    }
    .nosotros {
      text-align: center;
      padding: 20px 0;

      h1 {
        font-family: "BerlinSans", "Montserrat", "sans-serif";
        font-size: 45px;
        color: $color4;
        text-transform: uppercase;
        margin: 0 20px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        margin-top: 20px;

        width: 180px;
        height: 60px;

        border-radius: 10px;
        color: $color1;
        font-weight: 600;
        text-decoration: none;

        background-color: $color4;
      }
    }
    .section-piedras2-reverse {
      height: 100px;
      width: 100%;
      transform: scale(-1);
    }
  }
}

.section-nosotros {
  background-color: $color6;
  position: relative;
  z-index: 30;

  h1 {
    color: $color2;
    font-size: 50px;
    text-align: center;
    font-family: "BerlinSans", "Montserrat", "sans-serif";
    margin: 0 10px;
  }
  hr {
    border: 2px solid $color2;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 30px;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card-anim-wrapper {
      .card {
        background-color: #531c1f;
        border-radius: 10px;
        max-width: 380px;
        margin: 10px;
        padding: 20px 0;
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.3);

        display: flex;
        align-items: center;
        flex-direction: column;

        perspective: 400px;

        .circulo-fondo {
          position: absolute;
          top: 0;
          width: 100%;
          height: 300px;
          background-color: $color2;
          border-radius: 0 0 45% 45%;
        }

        .img-wrapper {
          width: 280px;
          height: 280px;
          position: relative;
          z-index: 50;
          background-color: $color4;
          border-radius: 50%;
          overflow: hidden;
          border: 5px solid $color2;
          box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.4);

          margin: 0 10px;
          margin-bottom: 20px;

          img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }

        h2 {
          color: $color2;
          font-size: 2.5em;
          font-family: "BerlinSans", "Montserrat", "sans-serif";
        }
        p {
          color: $color1;
          margin: 5px 20px;
        }
        .desc {
          color: $color2;
        }
      }
    }
    .card-anim-wrapper:hover .card {
      animation: flip 0.5s linear forwards;
    }
  }
}
.section2{
  position: relative;
  z-index: 30;
}
.contacto {
  width: 100%;
  position: relative;

  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: rgba($color: #f7ac6a, $alpha: 0.2);

  .section-piedras-reverse {
    height: 100px;
    width: 100%;
    transform: scaleY(-1);
  }
  .section-piedras {
    height: 100px;
    width: 100%;
    transform: scaleX(-1);
  }

  #img-index2 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  h1 {
    color: $color2;
    font-size: 3em;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 600px;
    padding: 0 20px;

    input, textarea{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      background-color: transparent;
      border-radius: 10px;
      width: 100%;     
            
      height: 50px;
      outline: none;
      border: none;
      color: $color4;
      margin: 5px 10px;
      padding: 10px;
      resize: vertical;

      background-color: rgba($color: #f7ac6a, $alpha: 0.5);
      box-shadow: 10px 10px 10px 0 rgba($color: #000000, $alpha: 0.4);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill{
    -webkit-text-fill-color: $color4 !important;
    }

    textarea{
      height: 120px;
    }
    input[type="submit"]{
      position: relative;
      z-index: 10;
      color: white;
      cursor: pointer;
      transition: .5s;
    }
    input[type="submit"]:hover{
      background-color: rgba($color: $color5, $alpha: 0.6);
    }
    input::placeholder, textarea::placeholder{
      color: white;
    }
  }
}

footer{
  background-color: $color6;
  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img{
      width: 100%;
      max-width: 300px;
    }
    p{
      color: #fff;
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
  .footer-middle{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;

    p{
      color: white;
      margin: 5px 0;
    }
  }
  .footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    h2{
      color: white;
      font-weight: 600;
    }
    p{
      color: #eee;
      font-size: 0.9em;
      margin-bottom: 10px;
    }


    .redes-wrapper{
      width: 100%;
      max-width: 250px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;


      a{
        i{
          margin-right: 5px;
        }
  
        text-decoration: none;
        color: white;
        cursor: pointer;
        transition: .5s;
        font-size: 2em;
      }
      a:hover{
        transform: scale(1.1);
      }
    }

    
  }
  
}
/*-------------------------------------

            Animaciones

-------------------------------------*/
@keyframes mont {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes landing-text {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes links-header {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes links-header2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes button-hover-card {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes button-hover-card-reverse {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(300%);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*-------------------------------------

            Responsive

-------------------------------------*/

@media screen and(max-width: 1030px) {
  
  header {
    .header-wrapper {
      justify-content: center;
      .header-derecha {
        display: none;
      }
    }
  }
  footer{
    grid-template-columns: 1fr;
  }

}

@media screen and(max-width: 900px) {
  .landing-img-wrapper::after {
    content: "";
    margin-right: -50%;
  }
  .landing-img-wrapper::before {
    content: "";
    margin-left: -50%;
  }
}

@media screen and(max-width: 750px) {
  .section1 {
    .section-content {
      h1 {
        text-align: center;
      }

      .servicios-wrapper {
        .card {
          height: auto;
          .card-content {
            margin: 30px 40px;
          }
          a {
            transform: translateY(0%);
            animation: none;
            position: inherit;
          }
        }
        .card:hover a {
          animation: none;
        }
        .card:hover .card-content {
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .landing-wrapper {
    .texto {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.2em;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and(max-width: 450px) {
  .section1 {
    .section-content {
      .servicios-wrapper {
        .card {
          min-width: 320px;
        }
      }
    }
  }
}
