@font-face {
  font-family: BerlinSans;
  src: url("../fonts/BerlinSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f7ddb6;
}

::-webkit-scrollbar-thumb {
  background: #83967a;
}

body {
  background-color: #f7ddb6;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: landing-text 0.3s linear forwards;
          animation: landing-text 0.3s linear forwards;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

header .header-wrapper .logo {
  margin: 10px;
}

header .header-wrapper .logo img {
  width: 80px;
}

header .header-wrapper .header-derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .header-derecha .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .header-derecha .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 120px;
  height: 40px;
  text-decoration: none;
  color: #702c2e;
  margin: 0 10px;
  font-weight: 500;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .header-wrapper .header-derecha .links a span {
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 120px;
  height: 40px;
  background: #702c2e;
}

header .header-wrapper .header-derecha .links a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 0;
  background: #702c2e;
}

header .header-wrapper .header-derecha .links a:before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 0;
  background: #702c2e;
}

header .header-wrapper .header-derecha .links a:hover:after,
header .header-wrapper .header-derecha .links a:hover::before {
  -webkit-animation: links-header 0.2s linear forwards;
          animation: links-header 0.2s linear forwards;
}

header .header-wrapper .header-derecha .links a:hover span {
  -webkit-animation: links-header2 0.2s forwards;
          animation: links-header2 0.2s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  z-index: -1;
}

header .header-wrapper .header-derecha .links a:hover {
  color: white;
}

header .header-wrapper .header-derecha .boton-contacto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #702c2e;
  width: 120px;
  height: 40px;
  border-radius: 2em;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-wrapper .header-derecha .boton-contacto a:hover {
  background-color: #ee6f4a;
}

header .header-wrapper .header-derecha .redes {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .header-derecha .redes a {
  margin: 0 10px;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #702c2e;
  border-radius: 2em;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-wrapper .header-derecha .redes a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .header-wrapper .header-derecha .burger-mobile {
  position: relative;
  z-index: 6;
  display: none;
  cursor: pointer;
  margin: 0 20px;
}

header .header-wrapper .header-derecha .burger-mobile .bar1,
header .header-wrapper .header-derecha .burger-mobile .bar2,
header .header-wrapper .header-derecha .burger-mobile .bar3 {
  width: 35px;
  height: 5px;
  background-color: #702c2e;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-wrapper .header-derecha #links-mobile {
  display: none;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.95);
  -webkit-transition: ease-in 0.6s;
  transition: ease-in 0.6s;
}

header .header-wrapper .header-derecha #links-mobile .links-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

header .header-wrapper .header-derecha #links-mobile .links-wrapper img {
  max-width: 260px;
  width: 100%;
  margin: 10px;
}

header .header-wrapper .header-derecha #links-mobile .links-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 50px;
  margin: 10px 20px;
  text-align: center;
  background: rgba(112, 44, 46, 0.3);
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 1em;
}

header .header-wrapper .header-derecha #links-mobile .links-wrapper a i {
  margin: 0 5px;
}

header .header-wrapper .header-derecha #links-mobile .links-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.landing-wrapper {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f7ddb6;
}

.landing-wrapper .texto {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
  top: 30%;
  z-index: 25;
  -webkit-animation: landing-text 0.5s linear forwards;
          animation: landing-text 0.5s linear forwards;
}

.landing-wrapper .texto h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: "BerlinSans", "Montserrat", "sans-serif";
}

.landing-wrapper .texto p {
  font-size: 1.6em;
  letter-spacing: 5px;
}

.landing-wrapper .texto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  background-color: #222222;
  border: none;
  border-radius: 30px;
  margin: 10px;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 15px;
}

.landing-wrapper .landing-img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin-bottom: -5px;
}

.landing-wrapper .landing-img-wrapper .mont1,
.landing-wrapper .landing-img-wrapper .mont2,
.landing-wrapper .landing-img-wrapper .mont3 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  pointer-events: none;
  -webkit-animation: mont 0.8s linear forwards;
          animation: mont 0.8s linear forwards;
}

.landing-wrapper .landing-img-wrapper .mont2 {
  z-index: 20;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.landing-wrapper .landing-img-wrapper .mont3 {
  z-index: 30;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.section1 {
  position: relative;
  z-index: 30;
  background-color: #702c2e;
}

.section1 .section-piedras {
  margin-bottom: -5px;
}

.section1 .section-piedras-reverse {
  -webkit-transform: scale(-1);
          transform: scale(-1);
  width: 100%;
  height: 100px;
  margin-top: -5px;
}

.section1 .section-content {
  padding: 40px 10px;
  background: #42191b;
}

.section1 .section-content h1 {
  color: #f7ac6a;
  font-size: 3em;
  margin: 0 35px;
  font-family: "BerlinSans", "Montserrat", "sans-serif";
}

.section1 .section-content hr {
  position: relative;
  border: 1px solid #f7ac6a;
  margin: 10px 30px;
  z-index: 10;
}

.section1 .section-content .servicios-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section1 .section-content .servicios-wrapper .card {
  overflow: hidden;
  position: relative;
  background-color: #531c1f;
  min-width: 400px;
  width: 30%;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 .section-content .servicios-wrapper .card .card-content {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section-content .servicios-wrapper .card .card-content i {
  color: #f7ddb6;
  font-size: 5em;
}

.section1 .section-content .servicios-wrapper .card .card-content h2 {
  margin: 10px 0;
  color: #f7ac6a;
  font-size: 30px;
  text-align: center;
}

.section1 .section-content .servicios-wrapper .card .card-content p {
  color: #f7ac6a;
  text-align: center;
}

.section1 .section-content .servicios-wrapper .card .card-content p b {
  color: #f7ddb6;
  font-weight: normal;
}

.section1 .section-content .servicios-wrapper .card a {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7ac6a;
  color: #702c2e;
  width: 140px;
  height: 45px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  margin: 20px 0;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-animation: button-hover-card-reverse 0.5s linear forwards;
          animation: button-hover-card-reverse 0.5s linear forwards;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .section-content .servicios-wrapper .card a span {
  position: absolute;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  width: 140px;
  height: 45px;
  background: #972b2e;
}

.section1 .section-content .servicios-wrapper .card a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 0;
  background: #972b2e;
}

.section1 .section-content .servicios-wrapper .card a:before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 0;
  background: #972b2e;
}

.section1 .section-content .servicios-wrapper .card a:hover:after,
.section1 .section-content .servicios-wrapper .card a:hover::before {
  -webkit-animation: links-header 0.2s linear forwards;
          animation: links-header 0.2s linear forwards;
}

.section1 .section-content .servicios-wrapper .card a:hover span {
  -webkit-animation: links-header2 0.2s forwards;
          animation: links-header2 0.2s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  z-index: -1;
}

.section1 .section-content .servicios-wrapper .card a:hover {
  color: white;
}

.section1 .section-content .servicios-wrapper .card:hover a {
  -webkit-animation: button-hover-card 0.5s linear forwards;
          animation: button-hover-card 0.5s linear forwards;
}

.section1 .section-content .servicios-wrapper .card:hover .card-content {
  margin-top: -60px;
}

.section1 .section-content .servicios-wrapper .card:hover {
  background-color: #5e1d21;
}

.section1 .sobre-nosotros {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(247, 172, 106, 0.4);
}

.section1 .sobre-nosotros .section-piedras {
  height: 100px;
  width: 100%;
}

.section1 .sobre-nosotros .sobre-nosotros-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section1 .sobre-nosotros .sobre-nosotros-img img {
  width: 100%;
  position: absolute;
}

.section1 .sobre-nosotros .section-piedras2 {
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}

.section1 .sobre-nosotros .nosotros {
  text-align: center;
  padding: 20px 0;
}

.section1 .sobre-nosotros .nosotros h1 {
  font-family: "BerlinSans", "Montserrat", "sans-serif";
  font-size: 45px;
  color: #702c2e;
  text-transform: uppercase;
  margin: 0 20px;
}

.section1 .sobre-nosotros .nosotros a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  color: #f7ddb6;
  font-weight: 600;
  text-decoration: none;
  background-color: #702c2e;
}

.section1 .sobre-nosotros .section-piedras2-reverse {
  height: 100px;
  width: 100%;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.section-nosotros {
  background-color: #42191b;
  position: relative;
  z-index: 30;
}

.section-nosotros h1 {
  color: #f7ac6a;
  font-size: 50px;
  text-align: center;
  font-family: "BerlinSans", "Montserrat", "sans-serif";
  margin: 0 10px;
}

.section-nosotros hr {
  border: 2px solid #f7ac6a;
  width: 90%;
  margin: 10px auto;
  margin-bottom: 30px;
}

.section-nosotros .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card {
  background-color: #531c1f;
  border-radius: 10px;
  max-width: 380px;
  margin: 10px;
  padding: 20px 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 400px;
          perspective: 400px;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card .circulo-fondo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: #f7ac6a;
  border-radius: 0 0 45% 45%;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card .img-wrapper {
  width: 280px;
  height: 280px;
  position: relative;
  z-index: 50;
  background-color: #702c2e;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #f7ac6a;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  margin-bottom: 20px;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card .img-wrapper img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card h2 {
  color: #f7ac6a;
  font-size: 2.5em;
  font-family: "BerlinSans", "Montserrat", "sans-serif";
}

.section-nosotros .card-wrapper .card-anim-wrapper .card p {
  color: #f7ddb6;
  margin: 5px 20px;
}

.section-nosotros .card-wrapper .card-anim-wrapper .card .desc {
  color: #f7ac6a;
}

.section-nosotros .card-wrapper .card-anim-wrapper:hover .card {
  -webkit-animation: flip 0.5s linear forwards;
          animation: flip 0.5s linear forwards;
}

.section2 {
  position: relative;
  z-index: 30;
}

.contacto {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(247, 172, 106, 0.2);
  padding-bottom: 120px;
}

.contacto .section-piedras-reverse {
  height: 100px;
  width: 100%;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.contacto .section-piedras {
  height: 100px;
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.contacto #img-index2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contacto h1 {
  color: #f7ac6a;
  font-size: 3em;
  margin-bottom: 20px;
}

.contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.contacto form input,
.contacto form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  color: white;
  margin: 5px 10px;
  padding: 10px;
  resize: vertical;
  background-color: rgba(247, 172, 106, 0.5);
  -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.contacto form input:-webkit-autofill,
.contacto form input:-webkit-autofill:hover,
.contacto form input:-webkit-autofill:focus,
.contacto form input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.contacto form input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.contacto form textarea {
  height: 120px;
}

.contacto form input[type="submit"] {
  position: relative;
  z-index: 10;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacto form input[type="submit"]:hover {
  background-color: rgba(131, 150, 122, 0.6);
}

.contacto form input::-webkit-input-placeholder,
.contacto form textarea::-webkit-input-placeholder {
  color: white;
}

.contacto form input:-ms-input-placeholder,
.contacto form textarea:-ms-input-placeholder {
  color: white;
}

.contacto form input::-ms-input-placeholder,
.contacto form textarea::-ms-input-placeholder {
  color: white;
}

.contacto form input::placeholder,
.contacto form textarea::placeholder {
  color: white;
}

.contacto form .loader {
  margin: 10px;
  display: none;
  -webkit-animation: 1s spinner linear infinite;
          animation: 1s spinner linear infinite;
}

.contacto form .loader i {
  color: #f7ac6a;
  font-size: 2em;
}

.contacto form .mensaje {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 10px;
  display: none;
}

#footer {
  margin-top: -100px;
  position: relative;
}

#footer .section-piedras {
  height: 100px;
  width: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  margin-bottom: -5px;
}

.disweb-wrapper {
  width: 100%;
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.disweb-wrapper .disweb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #42191b;
}

.disweb-wrapper .disweb .disweb-img {
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.disweb-wrapper .disweb .disweb-img img {
  width: 100%;
  border-radius: 10px;
}

.disweb-wrapper .disweb .disweb-content {
  max-width: 600px;
  width: 100%;
  margin: 20px;
}

.disweb-wrapper .disweb .disweb-content h1 {
  font-size: 2.5em;
  color: #f7ddb6;
}

.disweb-wrapper .disweb .disweb-content p {
  color: #f7ddb6;
}

.disweb-wrapper .section-piedras-reverse {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  width: 100%;
  height: 100px;
  margin-top: -5px;
}

.disweb-planes-wrapper {
  width: 100%;
  margin: 50px 0;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disweb-planes-wrapper .disweb-planes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.disweb-planes-wrapper .disweb-planes .card {
  background-color: #f7ac6a;
  max-width: 350px;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.disweb-planes-wrapper .disweb-planes .card .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7ddb6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disweb-planes-wrapper .disweb-planes .card .icon i {
  font-size: 3em;
  color: #f7ac6a;
}

.disweb-planes-wrapper .disweb-planes .card h1 {
  color: #f7ddb6;
  font-size: 2em;
  margin: 10px;
}

.disweb-planes-wrapper .disweb-planes .card p {
  color: #702c2e;
  font-size: 1.2em;
  text-align: left;
  font-weight: 600;
}

.disweb-planes-wrapper .disweb-planes .card h3 {
  font-size: 1.8em;
  color: #f7ddb6;
  margin: 10px;
}

.disweb-planes-wrapper .disweb-planes .card a {
  background-color: #c38854;
  padding: 15px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #f7ddb6;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.disweb-planes-wrapper .disweb-planes .card a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #42191b;
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .footer-left img {
  width: 80%;
  max-width: 300px;
}

footer .footer-left p {
  color: #fff;
  margin-top: 10px;
  font-size: 0.8em;
}

footer .footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
}

footer .footer-middle p {
  color: white;
  margin: 5px 0;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

footer .footer-right h2 {
  color: white;
  font-weight: 600;
}

footer .footer-right p {
  color: #eee;
  font-size: 0.9em;
  margin-bottom: 10px;
}

footer .footer-right .redes-wrapper {
  width: 100%;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-right .redes-wrapper a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2em;
}

footer .footer-right .redes-wrapper a i {
  margin-right: 5px;
}

footer .footer-right .redes-wrapper a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.portfolio-wrapper .portfolio {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  overflow: hidden;
  background-color: #f7ddb6;
}

.portfolio-wrapper .portfolio .port-left,
.portfolio-wrapper .portfolio .port-left2,
.portfolio-wrapper .portfolio .port-left3,
.portfolio-wrapper .portfolio .port-left4,
.portfolio-wrapper .portfolio .port-left5 {
  background-image: url("/totumdev/Portfolio/img/TotumDevWeb.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50% auto;
  background-attachment: fixed;
}

.portfolio-wrapper .portfolio .port-left .mobile-img,
.portfolio-wrapper .portfolio .port-left2 .mobile-img,
.portfolio-wrapper .portfolio .port-left3 .mobile-img,
.portfolio-wrapper .portfolio .port-left4 .mobile-img,
.portfolio-wrapper .portfolio .port-left5 .mobile-img {
  display: none;
}

.portfolio-wrapper .portfolio .port-left2 {
  background-image: url("/totumdev/Portfolio/img/DecoGreenWeb.png");
}

.portfolio-wrapper .portfolio .port-left3 {
  background-image: url("/totumdev/Portfolio/img/AralixWeb.png");
}

.portfolio-wrapper .portfolio .port-left4 {
  background-image: url("/totumdev/Portfolio/img/ManuelAlonsoDesignWeb.png");
}

.portfolio-wrapper .portfolio .port-left5 {
  background-image: url("/totumdev/Portfolio/img/SublikMediaWeb.png");
}

.portfolio-wrapper .portfolio .port-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-wrapper .portfolio .port-right .content {
  text-align: center;
  padding: 30px;
}

.portfolio-wrapper .portfolio .port-right .content img {
  width: 180px;
  margin: 10px 0;
}

.portfolio-wrapper .portfolio .port-right .content h1 {
  color: white;
  font-size: 3em;
}

.portfolio-wrapper .portfolio .port-right .content p {
  color: white;
}

.portfolio-wrapper .portfolio .port-right .content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 50px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
  border-radius: 1em;
}

.portfolio-wrapper .portfolio:nth-child(1) {
  height: 100vh;
}

.portfolio-wrapper .portfolio:nth-child(1) .port-right .content h1 {
  color: #333333;
}

.portfolio-wrapper .portfolio:nth-child(1) .port-right .content p {
  color: #333333;
}

.portfolio-wrapper .portfolio:nth-child(2) {
  background-color: #83967a;
}

.portfolio-wrapper .portfolio:nth-child(3) {
  background-color: #7100fc;
}

.portfolio-wrapper .portfolio:nth-child(4) {
  background-color: #f8af2c;
}

.portfolio-wrapper .portfolio:nth-child(5) {
  background-color: #334061;
}

.portfolio-wrapper .portfolio:nth-child(6) {
  background-color: #eee;
}

.portfolio-wrapper .portfolio:nth-child(6) .port-right .content h1 {
  color: #333333;
}

.portfolio-wrapper .portfolio:nth-child(6) .port-right .content p {
  color: #333333;
}

.blog-wrapper {
  padding: 40px 0;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 80%;
}

.blog-wrapper .post {
  width: 100%;
}

.blog-wrapper .post h1 {
  color: #444;
  font-size: 3em;
}

.blog-wrapper .post .post-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  color: #444;
}

.blog-wrapper .post .post-content .post-body {
  margin-right: 20px;
}

.blog-wrapper .post .post-content .post-body h3 {
  font-size: 1.5em;
}

.blog-wrapper .post .post-content .post-body hr {
  border: 1px solid #702c2e;
  margin: 20px 0;
  width: 40%;
}

.blog-wrapper .post .post-content .post-body p {
  margin: 20px 0;
}

.blog-wrapper .post .post-content .post-body .autorfecha p {
  color: #702c2e;
  font-weight: 600;
}

.blog-wrapper .post .post-content .post-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-wrapper .post .post-content .post-img img {
  width: 100%;
  border-radius: 5px;
}

.blog-wrapper .post .button-wrapper {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-wrapper .post .button-wrapper button {
  width: 150px;
  height: 50px;
  background-color: #702c2e;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-wrapper .post .button-wrapper button i {
  margin-right: 10px;
}

.blog-wrapper .post .button-wrapper button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-wrapper2 {
  padding: 40px 0;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-wrapper2 .mont1, .blog-wrapper2 .mont2 {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.blog-wrapper2 h1 {
  font-size: 3em;
  color: #702c2e;
}

.blog-wrapper2 hr {
  width: 100px;
  margin: 10px 0;
  border: 1px solid #702c2e;
}

.blog-wrapper2 .post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-wrapper2 .post-wrapper .post {
  padding: 20px;
  background-color: #702c2e;
  width: 350px;
  min-height: 450px;
  margin: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-wrapper2 .post-wrapper .post .post-img {
  width: 95%;
  height: 180px;
}

.blog-wrapper2 .post-wrapper .post .post-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.blog-wrapper2 .post-wrapper .post h1 {
  color: #f7ddb6;
  font-weight: 600;
  margin: 5px 0;
  text-align: center;
  font-size: 2em;
}

.blog-wrapper2 .post-wrapper .post hr {
  width: 90%;
  border: 1px solid #f7ddb6;
}

.blog-wrapper2 .post-wrapper .post p {
  margin: 10px 0;
  font-weight: 500;
  color: #f7ac6a;
}

.blog-wrapper2 .post-wrapper .post button {
  background-color: #f7ac6a;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  width: 120px;
  height: 40px;
  margin: 10px 0;
  border-radius: 20px;
}

/*-------------------------------------

            Animaciones

-------------------------------------*/
@-webkit-keyframes mont {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes mont {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  60% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes landing-text {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes landing-text {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes links-header {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes links-header {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes links-header2 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes links-header2 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes button-hover-card {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes button-hover-card {
  0% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes button-hover-card-reverse {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
}

@keyframes button-hover-card-reverse {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*-------------------------------------

            Responsive

-------------------------------------*/
@media screen and (max-width: 1200px) {
  .portfolio-wrapper .portfolio {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 20px;
  }
  .portfolio-wrapper .portfolio .port-left,
  .portfolio-wrapper .portfolio .port-left2,
  .portfolio-wrapper .portfolio .port-left3,
  .portfolio-wrapper .portfolio .port-left4 {
    background: none;
  }
  .portfolio-wrapper .portfolio .port-left .mobile-img,
  .portfolio-wrapper .portfolio .port-left2 .mobile-img,
  .portfolio-wrapper .portfolio .port-left3 .mobile-img,
  .portfolio-wrapper .portfolio .port-left4 .mobile-img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
  .portfolio-wrapper .portfolio .port-right .content {
    padding: 0;
    margin: 0 20px;
  }
  .portfolio-wrapper .portfolio .port-right .content img {
    max-width: 150px;
    width: 100%;
  }
  .portfolio-wrapper .portfolio .port-right .content h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 1030px) {
  header .header-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-wrapper .header-derecha .links {
    display: none;
  }
  header .header-wrapper .header-derecha .boton-contacto {
    display: none;
  }
  header .header-wrapper .header-derecha .redes {
    display: none;
  }
  header .header-wrapper .header-derecha .burger-mobile {
    display: block;
  }
  header .header-wrapper .header-derecha #links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-wrapper {
    width: 90%;
  }
  .blog-wrapper .post h1 {
    text-align: center;
    margin: 10px 0;
  }
  .blog-wrapper .post .post-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-wrapper .post .post-content .post-body hr {
    width: 100%;
  }
  .blog-wrapper .post .post-content .post-img {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .blog-wrapper .post .post-content .post-img img {
    border-radius: 20px;
  }
}

@media screen and (max-width: 900px) {
  .landing-img-wrapper::after {
    content: "";
    margin-right: -50%;
  }
  .landing-img-wrapper::before {
    content: "";
    margin-left: -50%;
  }
}

@media screen and (max-width: 750px) {
  .section1 .section-content h1 {
    text-align: center;
  }
  .section1 .section-content .servicios-wrapper .card {
    height: auto;
  }
  .section1 .section-content .servicios-wrapper .card .card-content {
    margin: 30px 40px;
  }
  .section1 .section-content .servicios-wrapper .card a {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-animation: none;
            animation: none;
    position: inherit;
  }
  .section1 .section-content .servicios-wrapper .card:hover a {
    -webkit-animation: none;
            animation: none;
  }
  .section1 .section-content .servicios-wrapper .card:hover .card-content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .landing-wrapper .texto h1 {
    font-size: 3em;
  }
  .landing-wrapper .texto p {
    font-size: 1.2em;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 450px) {
  .section1 .section-content .servicios-wrapper .card {
    min-width: 320px;
  }
}
/*# sourceMappingURL=styles.css.map */