$color1: #f7ddb6;
$color2: #f7ac6a;
$color3: #ee6f4a;
$color4: #702c2e;
$color5: #83967a;
$color6: #42191b;

@font-face {
  font-family: BerlinSans;
  src: url("/fonts/BerlinSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $color1;
}
::-webkit-scrollbar-thumb {
  background: $color5;
}

body {
  background-color: $color1;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: landing-text 0.3s linear forwards;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    .logo {
      margin: 10px;
      img {
        width: 80px;
      }
    }
    .header-derecha {
      display: flex;
      justify-content: center;
      align-items: center;

      .links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          overflow: hidden;

          position: relative;

          width: 120px;
          height: 40px;
          text-decoration: none;
          color: $color4;
          margin: 0 10px;
          font-weight: 500;

          transition: 0.8s;
        }
        a span {
          position: absolute;
          transform: translateY(-100%);
          width: 120px;
          height: 40px;
          background: $color4;
        }

        a:after {
          content: "";
          position: absolute;
          left: 0;
          width: 2px;
          height: 0;
          background: $color4;
        }
        a:before {
          content: "";
          position: absolute;
          right: 0;
          width: 2px;
          height: 0;
          background: $color4;
        }
        a:hover:after,
        a:hover::before {
          animation: links-header 0.2s linear forwards;
        }
        a:hover span {
          animation: links-header2 0.2s forwards;
          animation-delay: 0.3s;
          z-index: -1;
        }
        a:hover {
          color: white;
        }
      }
      .boton-contacto {
        a {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $color4;
          width: 120px;
          height: 40px;
          border-radius: 2em;
          color: white;
          text-decoration: none;

          transition: 0.5s;
        }
        a:hover {
          background-color: $color3;
        }
      }
      .redes {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin: 0 10px;
          font-size: 2em;
          display: flex;
          justify-content: center;
          align-items: center;

          color: $color4;
          border-radius: 2em;
          text-decoration: none;
          transition: 0.5s;
        }
        a:hover {
          transform: scale(1.2);
        }
      }

      .burger-mobile {
        position: relative;
        z-index: 6;
        display: none;
        cursor: pointer;
        margin: 0 20px;

        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 5px;
          background-color: $color4;
          margin: 6px 0;
          transition: 0.4s;
        }
      }
      #links-mobile {
        display: none;
        transform: translateY(-120%);
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(32, 32, 32, 0.95);
        transition: ease-in 0.6s;

        .links-wrapper {
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 20px;

          img {
            max-width: 260px;
            width: 100%;
            margin: 10px;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 80%;
            height: 50px;
            margin: 10px 20px;

            text-align: center;
            background: rgba($color: $color4, $alpha: 0.3);
            color: white;
            font-size: 20px;
            text-decoration: none;
            border-radius: 1em;

            i {
              margin: 0 5px;
            }
          }
          a:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.landing-wrapper {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  margin: 0 auto;

  background-color: $color1;

  .texto {
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 10px;

    top: 30%;

    z-index: 25;

    animation: landing-text 0.5s linear forwards;

    h1 {
      font-size: 5em;
      font-weight: bold;
      font-family: "BerlinSans", "Montserrat", "sans-serif";
    }
    p {
      font-size: 1.6em;
      letter-spacing: 5px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-decoration: none;
      background-color: #222222;
      border: none;
      border-radius: 30px;
      margin: 10px;
      width: 150px;
      height: 40px;
      color: white;

      font-size: 15px;
    }
  }

  .landing-img-wrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    overflow: hidden;

    margin-bottom: -5px;

    .mont1,
    .mont2,
    .mont3 {
      transform: translateY(-100%);
      position: absolute;
      bottom: 0;
      height: 100%;
      z-index: 10;
      overflow-x: hidden;
      pointer-events: none;

      animation: mont 0.8s linear forwards;
    }
    .mont2 {
      z-index: 20;
      animation-delay: 0.2s;
    }
    .mont3 {
      z-index: 30;
      animation-delay: 0.5s;
      animation-duration: 0.6s;
    }
  }
}
.section1 {
  position: relative;
  z-index: 30;
  background-color: $color4;

  .section-piedras {
    margin-bottom: -5px;
  }
  .section-piedras-reverse {
    transform: scale(-1);
    width: 100%;
    height: 100px;
    margin-top: -5px;
  }

  .section-content {
    padding: 40px 10px;
    background: #42191b;

    h1 {
      color: $color2;
      font-size: 3em;
      margin: 0 35px;
      font-family: "BerlinSans", "Montserrat", "sans-serif";
    }

    hr {
      position: relative;
      border: 1px solid $color2;
      margin: 10px 30px;
      z-index: 10;
    }

    .servicios-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .card {
        overflow: hidden;
        position: relative;
        background-color: #531c1f;
        //box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: .5);

        min-width: 400px;
        width: 30%;
        height: 400px;
        margin: 10px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
        .card-content {
          margin: 0 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          transition: 0.5s;

          i {
            color: $color1;
            font-size: 5em;
          }
          h2 {
            margin: 10px 0;
            color: $color2;
            font-size: 30px;
            text-align: center;
          }
          p {
            color: $color2;
            text-align: center;

            b {
              color: $color1;
              font-weight: normal;
            }
          }
        }

        a {
          position: absolute;
          bottom: 20px;
          display: flex;
          overflow: hidden;

          justify-content: center;
          align-items: center;

          background-color: $color2;
          color: $color4;

          width: 140px;
          height: 45px;
          text-decoration: none;
          font-weight: 600;
          border-radius: 5px;
          margin: 20px 0;

          transform: translateY(300%);

          animation: button-hover-card-reverse 0.5s linear forwards;
          transition: 0.5s;
        }
        a span {
          position: absolute;
          transform: translateY(300%);
          width: 140px;
          height: 45px;
          background: #972b2e;
        }

        a:after {
          content: "";
          position: absolute;
          left: 0;
          width: 2px;
          height: 0;
          background: #972b2e;
        }
        a:before {
          content: "";
          position: absolute;
          right: 0;
          width: 2px;
          height: 0;
          background: #972b2e;
        }
        a:hover:after,
        a:hover::before {
          animation: links-header 0.2s linear forwards;
        }
        a:hover span {
          animation: links-header2 0.2s forwards;
          animation-delay: 0.3s;
          z-index: -1;
        }
        a:hover {
          color: white;
        }
      }
      .card:hover a {
        animation: button-hover-card 0.5s linear forwards;
      }
      .card:hover .card-content {
        margin-top: -60px;
      }
      .card:hover {
        background-color: #5e1d21;
      }
    }
  }
  .sobre-nosotros {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: rgba($color: #f7ac6a, $alpha: 0.4);

    .section-piedras {
      height: 100px;
      width: 100%;
    }

    .sobre-nosotros-img {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      z-index: -1;
      width: 100%;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        position: absolute;
      }
    }

    .section-piedras2 {
      width: 100%;
      height: 100px;
      margin-bottom: -5px;
    }
    .nosotros {
      text-align: center;
      padding: 20px 0;

      h1 {
        font-family: "BerlinSans", "Montserrat", "sans-serif";
        font-size: 45px;
        color: $color4;
        text-transform: uppercase;
        margin: 0 20px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        margin-top: 20px;

        width: 180px;
        height: 60px;

        border-radius: 10px;
        color: $color1;
        font-weight: 600;
        text-decoration: none;

        background-color: $color4;
      }
    }
    .section-piedras2-reverse {
      height: 100px;
      width: 100%;
      transform: scale(-1);
    }
  }
}

.section-nosotros {
  background-color: $color6;
  position: relative;
  z-index: 30;

  h1 {
    color: $color2;
    font-size: 50px;
    text-align: center;
    font-family: "BerlinSans", "Montserrat", "sans-serif";
    margin: 0 10px;
  }
  hr {
    border: 2px solid $color2;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 30px;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card-anim-wrapper {
      .card {
        background-color: #531c1f;
        border-radius: 10px;
        max-width: 380px;
        margin: 10px;
        padding: 20px 0;
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.3);

        display: flex;
        align-items: center;
        flex-direction: column;

        perspective: 400px;

        .circulo-fondo {
          position: absolute;
          top: 0;
          width: 100%;
          height: 300px;
          background-color: $color2;
          border-radius: 0 0 45% 45%;
        }

        .img-wrapper {
          width: 280px;
          height: 280px;
          position: relative;
          z-index: 50;
          background-color: $color4;
          border-radius: 50%;
          overflow: hidden;
          border: 5px solid $color2;
          box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.4);

          margin: 0 10px;
          margin-bottom: 20px;

          img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }

        h2 {
          color: $color2;
          font-size: 2.5em;
          font-family: "BerlinSans", "Montserrat", "sans-serif";
        }
        p {
          color: $color1;
          margin: 5px 20px;
        }
        .desc {
          color: $color2;
        }
      }
    }
    .card-anim-wrapper:hover .card {
      animation: flip 0.5s linear forwards;
    }
  }
}
.section2 {
  position: relative;
  z-index: 30;
}
.contacto {
  width: 100%;
  position: relative;

  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: rgba($color: #f7ac6a, $alpha: 0.2);

  padding-bottom: 120px;

  .section-piedras-reverse {
    height: 100px;
    width: 100%;
    transform: scaleY(-1);
  }
  .section-piedras {
    height: 100px;
    width: 100%;
    transform: scaleX(-1);
  }

  #img-index2 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  h1 {
    color: $color2;
    font-size: 3em;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 600px;
    padding: 0 20px;

    input,
    textarea {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: transparent;
      border-radius: 10px;
      width: 100%;

      height: 50px;
      outline: none;
      border: none;
      color: white;
      margin: 5px 10px;
      padding: 10px;
      resize: vertical;

      background-color: rgba($color: #f7ac6a, $alpha: 0.5);
      box-shadow: 10px 10px 10px 0 rgba($color: #000000, $alpha: 0.4);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: white !important;
    }

    textarea {
      height: 120px;
    }
    input[type="submit"] {
      position: relative;
      z-index: 10;
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
    input[type="submit"]:hover {
      background-color: rgba($color: $color5, $alpha: 0.6);
    }
    input::placeholder,
    textarea::placeholder {
      color: white;
    }
    .loader {
      margin: 10px;
      display: none;
      animation: 1s spinner linear infinite;
      i {
        color: #f7ac6a;
        font-size: 2em;
      }
    }
    .mensaje {
      width: 100%;
      height: 50px;

      box-shadow: 10px 10px 10px 0 rgba($color: #000000, $alpha: 0.4);
      border-radius: 1em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 600;
      margin: 10px;
      display: none;
    }
  }
}

#footer {
  margin-top: -100px;
  position: relative;

  .section-piedras {
    height: 100px;
    width: 100%;
    transform: scaleX(-1);
    margin-bottom: -5px;
  }
}

.disweb-wrapper {
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .disweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    background-color: $color6;

    .disweb-img {
      width: 100%;
      max-width: 400px;
      margin: 20px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .disweb-content {
      max-width: 600px;
      width: 100%;
      margin: 20px;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 2.5em;
        color: $color1;
      }
      p {
        color: $color1;
        text-align: center;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $color4;
        color: $color2;
        width: 100px;
        height: 40px;
        margin: 20px 0;

        text-decoration: none;
        border-radius: 10px;
      }
    }
  }
  .section-piedras-reverse {
    transform: scaleY(-1);
    width: 100%;
    height: 100px;
    margin-top: -5px;
  }
}
.disweb-planes-wrapper {
  width: 100%;
  margin: 50px 0;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .mont1, .mont2{
    position: fixed;
    bottom: 0;
    z-index: -1;
  }

  .disweb-planes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .card {
      background-color: #E69A58;
      max-width: 350px;
      width: 100%;
      height: 350px;
      border-radius: 20px;
      padding: 30px;
      margin: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      box-shadow: 10px 10px 5px 0 rgba($color: #000000, $alpha: .5);

      .icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $color1;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 3em;
          color: $color2;
        }
      }
      h1 {
        color: $color1;
        font-size: 2em;
        margin: 10px;
      }
      p {
        color: $color4;
        font-size: 1.2em;
        text-align: left;
        font-weight: 600;
      }
      h3 {
        font-size: 1.8em;
        color: $color1;
        margin: 10px;
      }
      button {
        background-color: #F7DDB6;
        padding: 15px 10px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
        color: $color2;
        font-weight: 600;
        font-size: 20px;
        transition: 0.5s;
      }
      a:hover {
        transform: scale(1.1);
      }
    }
  }
}

footer {
  background-color: $color6;
  padding: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 80%;
      max-width: 300px;
    }
    p {
      color: #fff;
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
  .footer-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;

    p {
      color: white;
      margin: 5px 0;
    }
  }
  .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    h2 {
      color: white;
      font-weight: 600;
    }
    p {
      color: #eee;
      font-size: 0.9em;
      margin-bottom: 10px;
    }

    .redes-wrapper {
      width: 100%;
      max-width: 250px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        i {
          margin-right: 5px;
        }

        text-decoration: none;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        font-size: 2em;
      }
      a:hover {
        transform: scale(1.1);
      }
    }
  }
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  .portfolio {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 60% 1fr;
    overflow: hidden;
    background-color: $color1;

    .port-left,
    .port-left2,
    .port-left3,
    .port-left4,
    .port-left5,
    .port-left6,
    .port-left7 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/TotumDevWeb.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 50% auto;
      background-attachment: fixed;

      .mobile-img {
        display: none;
      }
    }

    .port-left2 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/ZorkrautWeb.png");
      
    }
    .port-left3 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/AralixWeb.png");
    }
    .port-left4 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/ManuelAlonsoDesignWeb.png");
    }
    .port-left5 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/SublikMediaWeb.png");
    }
    .port-left6 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/DecoGreenWeb.png");
    }
    .port-left7 {
      background-image: url("https://www.totumdev.uy/Portfolio/img/RocioTaboadaWeb.png");
    }

    .port-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .content {
        text-align: center;
        padding: 30px;

        img {
          width: 180px;
          margin: 10px 0;
        }

        h1 {
          color: white;
          font-size: 3em;
        }
        p {
          color: white;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 160px;
          height: 50px;
          margin: 10px auto;
          background-color: rgba($color: #000000, $alpha: 0.3);
          text-decoration: none;
          color: white;
          border-radius: 1em;
        }
      }
    }
  }
  .portfolio:nth-child(1) {
    height: 100vh;
    .port-right {
      .content {
        h1 {
          color: #333333;
        }
        p {
          color: #333333;
        }
      }
    }
  }
  .portfolio:nth-child(2) {
    background-color: #eee;

    .port-right {
      .content {
        h1 {
          color: #333333;
        }
        p {
          color: #333333;
        }
      }
    }
  }
  .portfolio:nth-child(3) {
    background-color: #7100fc;
  }
  .portfolio:nth-child(4) {
    background-color: #f8af2c;
  }
  .portfolio:nth-child(5) {
    background-color: #334061;
  }
  .portfolio:nth-child(6) {
    background-color: $color5;
  }
  .portfolio:nth-child(7) {
    background-color: #508540;
  }
}

.blog-wrapper {
  padding: 40px 0;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 80%;

  .post {
    width: 100%;
    h1 {
      color: #444;
      font-size: 3em;
    }
    .post-content {
      display: grid;
      grid-template-columns: 60% 1fr;

      color: #444;

      .post-body {
        margin-right: 20px;

        h3 {
          font-size: 1.5em;
        }

        hr {
          border: 1px solid $color4;
          margin: 20px 0;
          width: 40%;
        }
        p {
          margin: 20px 0;
        }
        .autorfecha {
          p {
            color: $color4;
            font-weight: 600;
          }
        }
      }
      .post-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .button-wrapper {
      margin: 20px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        width: 150px;
        height: 50px;

        background-color: $color4;
        border: none;
        border-radius: 20px;
        color: white;
        cursor: pointer;

        transition: 0.5s;

        i {
          margin-right: 10px;
        }
      }
      button:hover {
        transform: scale(1.1);
      }
    }
  }
}

.blog-wrapper2 {
  padding: 40px 0;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mont1, .mont2{
    position: fixed;
    bottom: 0;
    z-index: -1;
  }

  h1{
    font-size: 3em;
    color: $color4;
  }
  hr{
    width: 100px;
    margin: 10px 0;
    border: 1px solid $color4;
  }
  
  .post-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .post {
      padding: 20px;
      background-color: $color4;
      width: 350px;
      min-height: 450px;
      margin: 10px;
      border-radius: 20px;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      .post-img {
        width: 95%;
        height: 180px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
      h1 {
        color: $color1;
        font-weight: 600;
        margin: 5px 0;
        text-align: center;
        font-size: 2em;
      }
      hr {
        width: 90%;
        border: 1px solid $color1;
      }
      p {
        margin: 10px 0;
        font-weight: 500;
        color: $color2;
      }
      button {
        background-color: $color2;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;

        width: 120px;
        height: 40px;
        margin: 10px 0;
        border-radius: 20px;
      }
    }
  }
}


.login-wrapper{
  width: 100%;
  padding: 80px 0;
  margin: 100px 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .mont1, .mont2{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
  }

  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $color4;
    border-radius: 2em;
    padding: 20px;

    width: 300px;

    img{
      width: 100%;
      max-width: 200px;
    }

    form{
      display: flex;
      justify-content: center;
      flex-direction: column;

      margin: 10px;
      width: 90%;

      label{
        color: white;
      }

      input{
        width: 100%;
        height: 30px;
        border-radius: 10px;
        padding: 10px;
        border: none;
        outline: none;
        margin: 5px 0;

        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input[type="submit"]{
        padding: 0;
        background-color: $color6;
        color: white;
        font-weight: normal;
        font-size: 1em;
      }
    }
  }
}

.nosotros-wrapper{
  width: 100%;
  margin: 100px 0;

  .mont1, .mont2{
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
  }

  .section-piedras {
    transform: scaleX(-1);
    width: 100%;
    height: 100px;
    margin-bottom: -5px;
  }
  .section-piedras-reverse {
    transform: scaleY(-1);
    width: 100%;
    height: 100px;
    margin-top: -5px;
  }

  .nosotros{
    width: 100%;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: $color6;

    .nosotros-img{
      width: 100%;
      max-width: 200px;
      margin: 10px 20px;

      img{
        width: 100%;
      }
    }
    .nosotros-content{
      margin: 10px 20px;
      width: 100%;
      max-width: 500px;

      h1{
        font-size: 3em;
        color: $color1;
      }
      h3{
        font-size: 1.5em;
        color: $color1;
        margin-top: 10px;
        margin-bottom: 3px;
      }
      hr{
        width: 200px;
        border: 1px solid $color1;
        margin: 10px 0;
      }
      p{
        color: white;
        margin: 10px 0;
        margin-top: 5px;
      }
    }
  }
}
/*-------------------------------------

            Animaciones

-------------------------------------*/
@keyframes mont {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes landing-text {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes links-header {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes links-header2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes button-hover-card {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes button-hover-card-reverse {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(300%);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------------------

            Responsive

-------------------------------------*/

@media screen and(max-width: 1200px) {
  .portfolio-wrapper {
    .portfolio {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 100px 20px;

      .port-left,
      .port-left2,
      .port-left3,
      .port-left4,
      .port-left5,
      .port-left6,
      .port-left7 {
        background: none;

        .mobile-img {
          display: block;
          margin: 0 auto;
          max-width: 500px;
          width: 100%;
        }
      }
      .port-right {
        .content {
          padding: 0;
          margin: 0 20px;

          img {
            max-width: 150px;
            width: 100%;
          }
          h1 {
            font-size: 10vw;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1030px) {
  header {
    .header-wrapper {
      justify-content: space-between;
      .header-derecha {
        .links {
          display: none;
        }
        .boton-contacto {
          display: none;
        }
        .redes {
          display: none;
        }
        .burger-mobile {
          display: block;
        }
        #links-mobile {
          display: flex;
        }
      }
    }
  }
  footer {
    grid-template-columns: 1fr;
  }

  .blog-wrapper {
    width: 90%;

    .post {
      h1 {
        text-align: center;
        margin: 10px 0;
      }
      .post-content {
        grid-template-columns: 1fr;

        .post-body {
          hr {
            width: 100%;
          }
        }

        .post-img {
          grid-row: 1;

          img {
            border-radius: 20px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 900px) {
  .landing-img-wrapper::after {
    content: "";
    margin-right: -50%;
  }
  .landing-img-wrapper::before {
    content: "";
    margin-left: -50%;
  }
}

@media screen and(max-width: 750px) {
  .section1 {
    .section-content {
      h1 {
        text-align: center;
      }

      .servicios-wrapper {
        .card {
          height: auto;
          .card-content {
            margin: 30px 40px;
          }
          a {
            transform: translateY(0%);
            animation: none;
            position: inherit;
          }
        }
        .card:hover a {
          animation: none;
        }
        .card:hover .card-content {
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .landing-wrapper {
    .texto {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.2em;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and(max-width: 450px) {
  .section1 {
    .section-content {
      .servicios-wrapper {
        .card {
          min-width: 320px;
        }
      }
    }
  }
}
